body {
  text-decoration: none;
}



.menus:hover {
  color: rgb(45, 42, 42);
}

.search{
  font-size: 20px;
}

.navs{
  background-color: rgb(222, 223, 223);
  margin: 10px;
}

.fa {
  color: black;
}

.one {
  display: flex;
  justify-content: space-around;
}

.two {
  font-size: 30px;
}

.three {
  background-color: #ffffff;
  height: 80vh;
  overflow: scroll;
}

.four {
  display: flex;
  justify-content: space-between;
  background-color: #e8f4db;
}

.five {
  display: flex;
  justify-content: space-between;
}

.six {
  display: flex;
  justify-content: space-between;
}

.seven {
  display: flex;
  justify-content: space-between;
}